@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{margin:0;padding:0;font-family:'Poppins',sans-serif;scroll-behavior:smooth}
body{background:#0f172a;color:#e5e7eb}
section{padding:80px 10%}
h2{color:#38bdf8;margin-bottom:20px}
.card{background:#020617;padding:20px;border-radius:10px;margin-bottom:15px}